.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.defaultMessage{
  white-space: nowrap;
  font-size: large;
}

.tlabels{
  color: white;
}

.modalText{
  margin:10px 10px 10px 0px;
}

.marge{
  margin:10px 10px 10px 0px !important;
}

.title{
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

button{
  margin-top: 5px !important;
  border-radius: 5px !important;
}

th{
  white-space: nowrap;
  padding:30px 20px;
  text-align: center !important;
}
.spacing{
  width: 100%;
  height: auto;
}

table{
background-color: darkgray;
border-radius: 5px;
}

.wrap{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 0px;
}
